.Dictionary{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.Dictionary input {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50%;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.Dictionary .hint{
  font-size: small;
}

.typewriter  {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #000000; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffffff; }
}

.speech-btn {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 50%;
  border: 1px;
  display: inline-block;
  margin-right: 5px;
}

.speech-btn:hover {
  color: #000000;
  background-color: #EBEBEB ;
  border-color: #EBEBEB ;
}

.phonetic p{
  display: inline-block;
  
}